footer {
    background: black;
    padding-top: 40px;
    padding-bottom: 25px;
}

.wraper_footer {
    display: flex;
    flex-wrap: wrap;

    .footer_top_box {
        display: flex;
        justify-content: space-between;
        width: 100%;

        img {
            width: 160px;
            display: block;
            margin-bottom: 30px;
        }

        .footer_top_bl1 {
            display: flex;
            align-items: center;
        }

        .list_category {
            display: flex;
            justify-content: space-between;
            width: 365px;

            li {
                color: $color_five;
                font-size: $text_a_2;
            }
        }

        button {
            color: $color_five;
            background: inherit;
            margin-left: 30px;
            min-width: 200px;
            padding: 15px 40px;
            border: 1px solid $color_main;
            border-radius: 5px;

            &:hover {
                background: $color_main;
                color: $color_three;
            }
        }
    }

    .footer_bottom {
        a {
            font-size: $text_a_2;
            color: $color_seven;
            text-decoration: none;
        }

        .first_a {
            margin-right: 20px;
        }
    }
}

@media (max-width:820px) {
    .wraper_footer {
        justify-content: center;
    }

    .footer_top_box {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .footer_top_bl1 {
            display: flex;
            flex-direction: column;

            nav {
                margin-bottom: 30px;
            }

            button {
                display: block;
                margin-bottom: 30px;
            }
        }
    }

    .footer_bottom {
        a {
            text-align: center;
            display: block;
            margin-bottom: 10px;
        }
    }
}

@media (max-width:420px) {
    .footer_top_box {
        .footer_top_bl1 {
            .list_category {
                flex-direction: column;
                height: 180px;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}