$text_h1: 3.4rem;
$text_h2: 1.5rem;
$text_p: 1rem;
$text_h4: 0.8125rem;
$text_a: 1.125rem;
//--------------------------
$text_h1_2: 2.31rem;
$text_h2_2: 1rem;
$text_a_2: 0.875rem;
$text_h4_2: 0.688rem;
$text_btn_2: 0.625rem;
//------------------------------------------
$text_h1_3: 1.5rem;
$text_h2_3: 0.813rem;
//------------------------------------------
$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Philosopher', sans-serif;
$font-family-3: 'Alegreya Sans', sans-serif;
$font-family-4: 'Montserrat', sans-serif;