$text_h1: 3.4rem;
$text_h2: 1.5rem;
$text_p: 1rem;
$text_h4: 0.8125rem;
$text_a: 1.125rem;


//------------------------------------------
$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Philosopher', sans-serif;
$font-family-3: 'Alegreya Sans', sans-serif;
$font-family-4:  'Montserrat', sans-serif;