$color_main: rgba(253, 231, 36, 1);
$color_second: rgba(0, 129, 57, 1);
$color_three: rgba(32, 32, 32, 1);
$color_four: rgba(85, 86, 91, 1);
$color_five: rgba(239, 239, 239, 1);
$color_hover: rgba(255, 92, 0, 1)